/**************************************
 * Repair UI Section Style
 *************************************/

.repairs-content-info h2 {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 15px;
}

.repairs-content-list {
  margin-top: 15px;
}

.repairs-content-list ul li {
  list-style: inside;
  padding-top: 5px;
  font-weight: 600;
}

.repairs-content-images img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
