/**************************************
 * 01.General Style
 *************************************/

body {
  background: #ffffff;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 26px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  letter-spacing: 0.2px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #333;
  line-height: 1.5;
}

a {
  color: #ec3746;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

img {
  max-width: 100%;
}

a:hover {
  color: #ec3746;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

a:hover,
a:focus {
  color: #ec3746;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #555;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
}

.z-index {
  z-index: 9;
}

.position-relative {
  position: relative !important;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
  border-bottom: 1px solid #ec3746;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

button:focus {
  outline: 0 none;
  box-shadow: none;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 9px 30px;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 600;
  border: 2px solid #c42228;
  border-radius: 30px;
  color: #fff;
  background: #c42228;
  cursor: pointer;
  margin-top: 25px;
  overflow: hidden;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.button:hover {
  color: #c42228;
  background: transparent;
}

.bg-gray {
  background-color: #edf1f4;
}

.bg-none {
  background: none !important;
}

.color-text {
  color: #c42228;
}

dl,
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-padding {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 75px;
}

.section-title h5 {
  color: #ec3746;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.section-title h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 33px;
  color: #333;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.mr-0 {
  margin: 0;
}

.mr-top-50 {
  margin-top: 50px;
}

.back-to-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  color: #ffffff;
  background: #ec3746;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  border-radius: 50%;
}

.back-to-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #f35416;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.back-to-top:hover:before,
.back-to-top:focus:before {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover,
.back-to-top:focus {
  color: #ffffff;
}

.back-to-top.active {
  top: 97%;
  -webkit-transform: translateY(-98%);
  transform: translateY(-98%);
  opacity: 1;
  visibility: visible;
}

.back-to-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.back-to-top:hover i:first-child,
.back-to-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.back-to-top:hover i:last-child,
.back-to-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.back-to-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}

.v-middle {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* [ Start Overlay ] */

[data-overlay-dark],
[data-overlay-light] {
  position: relative;
}

[data-overlay-dark] .container,
[data-overlay-light] .container {
  position: relative;
  z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay-dark]:before {
  background: #02050b;
}

[data-overlay-light]:before {
  background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span,
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark span,
.bg-color h1,
.bg-color h2,
.bg-color h3,
.bg-color h4,
.bg-color h5,
.bg-color h6,
.bg-color span {
  color: #fff;
}

[data-overlay-dark] p,
.bg-dark p,
.bg-color p {
  color: #dad6d6;
}

[data-overlay-dark="0"]:before,
[data-overlay-light="0"]:before {
  opacity: 0;
}

[data-overlay-dark="1"]:before,
[data-overlay-light="1"]:before {
  opacity: 0.1;
}

[data-overlay-dark="2"]:before,
[data-overlay-light="2"]:before {
  opacity: 0.2;
}

[data-overlay-dark="3"]:before,
[data-overlay-light="3"]:before {
  opacity: 0.3;
}

[data-overlay-dark="4"]:before,
[data-overlay-light="4"]:before {
  opacity: 0.4;
}

[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
  opacity: 0.5;
}

[data-overlay-dark="6"]:before,
[data-overlay-light="6"]:before {
  opacity: 0.6;
}

[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
  opacity: 0.7;
}

[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
  opacity: 0.8;
}

[data-overlay-dark="9"]:before,
[data-overlay-light="9"]:before,
[data-overlay-color="9"]:before {
  opacity: 0.9;
}

[data-overlay-dark="10"]:before,
[data-overlay-light="10"]:before {
  opacity: 1;
}

/* [ End Overlay ] */

/* owl theme */

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 3px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #ec3746 !important;
  width: 7px;
  height: 7px;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 5px #ec3746;
  box-shadow: 0 1px 5px #ec3746;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
  border: 2px solid #ec3746;
  transition: 0.3s;
}

/**************************************
 * Overlay Effect Bg image
 *************************************/

[data-overlay-dark],
[data-overlay-light] {
  position: relative;
}

[data-overlay-dark] .container,
[data-overlay-light] .container {
  position: relative;
  z-index: 2;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

[data-overlay-dark]:before {
  background: #101010;
}

[data-overlay-light]:before {
  background: #fff;
}

[data-overlay-dark] h1,
[data-overlay-dark] h2,
[data-overlay-dark] h3,
[data-overlay-dark] h4,
[data-overlay-dark] h5,
[data-overlay-dark] h6,
[data-overlay-dark] span {
  color: #fff;
}

[data-overlay-dark] p {
  color: #bbb;
}

[data-overlay-dark="0"]:before,
[data-overlay-light="0"]:before {
  opacity: 0;
}

[data-overlay-dark="1"]:before,
[data-overlay-light="1"]:before {
  opacity: 0.1;
}

[data-overlay-dark="2"]:before,
[data-overlay-light="2"]:before {
  opacity: 0.2;
}

[data-overlay-dark="3"]:before,
[data-overlay-light="3"]:before {
  opacity: 0.3;
}

[data-overlay-dark="4"]:before,
[data-overlay-light="4"]:before {
  opacity: 0.4;
}

[data-overlay-dark="5"]:before,
[data-overlay-light="5"]:before {
  opacity: 0.5;
}

[data-overlay-dark="6"]:before,
[data-overlay-light="6"]:before {
  opacity: 0.6;
}

[data-overlay-dark="7"]:before,
[data-overlay-light="7"]:before {
  opacity: 0.7;
}

[data-overlay-dark="8"]:before,
[data-overlay-light="8"]:before {
  opacity: 0.8;
}

[data-overlay-dark="9"]:before,
[data-overlay-light="9"]:before {
  opacity: 0.9;
}

[data-overlay-dark="10"]:before,
[data-overlay-light="10"]:before {
  opacity: 1;
}

/**************************************
 * 02.Preloader Area Style
 *************************************/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999999;
}

.preloader .preloader-inner {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader .preloader-inner span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ea2f2f !important;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader .preloader-inner span:last-child {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
