/**************************************
 * Home Section Style
 *************************************/

.home-area {
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/mainbg.jpg);
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 40px;
}

.home-area video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.home-area::after {
  position: absolute;
  top: 0;
  content: "";
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
  background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(0, rgba(1, 31, 68, 0)),
      to(#620202)
    ),
    -webkit-gradient(linear, right top, left top, color-stop(0, rgba(2, 45, 98, 0)), to(#022d62));
}

.svg-shape-bottom .bottom-shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.hero-equal-height {
  position: relative;
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-area .home-content {
  text-align: center;
  margin-bottom: 50px;
}

.home-area .home-content h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-area .home-content h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 15px;
}

.home-area .home-content p {
  font-size: 16px;
  color: #fff;
}

.button.home-btn-1 {
  color: #333;
  background: #fff;
  border: 2px solid #ffffff;
  margin-right: 15px;
}

.button.home-btn-1:hover {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
}

.button.home-btn-2:hover {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
}

/**************************************
     * Home Slider Style
     *************************************/

.home-slider-area {
  min-height: 660px;
  position: relative;
  z-index: 1;
}

.home-slider,
.home-slider-single-item {
  height: 660px;
  overflow: hidden;
  display: block;
}

.home-slider-single-item {
  display: flex;
  align-items: center;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 100%;
}

.home-slider-single-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
  background: #000;
}

.home-slider-single-item .container {
  position: relative;
  z-index: 3;
}

.home-slider-single-item::after {
  content: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-slider-content {
  width: 100%;
  max-width: 510px;
  padding-top: 50px;
  text-align: left;
}

.home-slider-title {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
}

.home-slider-description {
  max-width: 500px;
}

.home-slider-description p {
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
}

.home-slider-btn-box {
  margin-top: 0px;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flickity-page-dots {
  position: relative;
  bottom: inherit;
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flickity-page-dots .dot {
  position: relative;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  background: 0 0;
  opacity: 1;
  margin: 0 1.125rem 0.625rem 0;
}

.flickity-page-dots .dot:last-child {
  margin-right: 0;
}

.flickity-page-dots .dot.is-selected::after {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.flickity-page-dots .dot:hover::after {
  background-color: #fff;
}

.flickity-page-dots .dot::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0;
  border-radius: 50%;
  outline: 0;
  transition: all 0.25s;
}

.flickity-dots-white .flickity-page-dots .dot::after {
  background-color: #fff;
}

.flickity-dots-white .flickity-page-dots .dot.is-selected::after {
  background-color: #5764ec;
}

.flickity-prev-next-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  border: 0;
  display: flex;
}

.flickity-prev-next-button .flickity-button-icon {
  position: relative;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  margin: auto;
  fill: #5764ec;
}

.ios .flickity-prev-next-button .flickity-button-icon {
  width: 15px;
  height: 15px;
}

.carusel-col {
  padding: 0;
  margin-right: 30px;
}

.carusel-col:last-child {
  margin-right: 0;
}

.flickity-dots-absolute .flickity-page-dots {
  position: absolute;
  bottom: 25px;
}
