---
import "../styles/Global.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>404 - Mac Repair Man</title>
    <style>
        .error-area {
            padding: 100px 0;
        }
    
        .error-content {
            text-align: center;
            margin: 0 auto;
            max-width: 700px;
        }
    
        .error-content h1 {
            font-size: 45px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    
        .error-content p {
            max-width: 520px;
            margin: 0 auto 20px;
            line-height: 30px;
        }

        .error-image {
            margin-top: 10px;
            width: 400px;
        }
    </style>    

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <section class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <img src="/img/logo.png" class="error-image" alt="error">
                        <h1>Page not found</h1>
                        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                        <p>You will be redirected to the homepage in <span id="countdown">5</span> seconds.</p>
                        <a href="/" class="button">Go to Home <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');

        const intervalId = setInterval(() => {
            countdown--;
            countdownElement.textContent = countdown.toString();

            if (countdown === 0) {
                clearInterval(intervalId);
                window.location.href = '/';
            }
        }, 1000);
    </script>
</body>
</html>