---
import "../styles/About.css";
---

<section id="about" class="about-area section-padding">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="map-responsive">
                    <iframe class="about-iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5793.564435673089!2d-80.48758292292288!3d43.44426421651597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b8ad0f2fd653f%3A0x248785d41871647c!2sMac%20Repair%20Man!5e0!3m2!1sen!2sca!4v1679511174558!5m2!1sen!2sca"
                        title="Location Map"
                        width="560"
                        height="450"
                        style={{border: 0}}
                        allowfullscreen
                        loading="eager"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content">
                    <div class="about-content-text">
                        <h5>Who We Are</h5>
                        <h2>Trusted Mac & iPhone Repair Services</h2>
                        <p>The Mac Repair Man works to ensure strong and
                            consistent communication with the customer
                            to provide the best experience possible
                            throughout the repair process. Our goal is
                            to create an efficient and convenient
                            solution to meet the user needs while
                            maintaining hassle-free service.
                        </p>
                        <h3>We're Flexible</h3>
                        <p>The Mac Repair Man provides pick-up and
                            drop-off services which provide flexibility
                            with on-site service. Our Apple Specialists
                            bring the solutions to you and simplify the
                            repair process!
                        </p>
                        <a href="tel:5195050058" class="about-button">Call Us</a>
                        <a href="sms:+15195050058" class="about-button">Text Us</a>
                        <a href="mailto:info@macrepairman.ca"
                            class="about-button">Email Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>