---
import { FaPhone, FaEnvelope, FaHome } from "react-icons/fa";

import "../styles/Footer.css";
---

<svg class="desktop-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#222020" fill-opacity="1" 
    d="M0,128L48,128C96,128,192,128,288,149.3C384,171,480,213,576,208C672,203,768,149,864,138.7C960,128,1056,160,1152,181.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
</path></svg>
<footer class="footer-area">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content">
                        <img src={"/img/logo.png"} alt="Brand" />
                        <p>
                            For fast, high-quality, and affordable Mac
                            repairs, contact Mac Repair Man.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content mid-content">
                        <h3>Links</h3>
                        <ul class="footer-link">
                            <li><a href="/#about">About Us</a></li>
                            <li><a href="/services">Our Services</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/terms">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content">
                        <h3>Contact Us</h3>
                        <ul class="footer-link">
                            <li>
                                <FaPhone size={20} color="#c42228"/>
                                {" "}
                                <a href="tel:5195050058">(519) 505-0058</a>
                            </li>
                            <li>
                                <FaEnvelope size={20} color="#c42228"/>
                                {" "}
                                <a href="mailto:info@macrepairman.ca">info@macrepairman.ca</a>
                            </li>
                            <li>
                                <FaHome size={20} color="#c42228"/>
                                {" "}
                                556 King St East, Kitchener ON, Canada
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright text-center">
                        <p>Mac Repair Man &copy; 2014 - 2024. All Rights Reserved.</p>
                        <p>Website Designed & Maintained by <a href="https://github.com/Mac-Repair-Man">Mac Repair Team</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>