---
import { titles } from "../data/Titles";
import { motion } from "framer-motion";

import "../styles/Landing.css";

const getRandomTitle = () => {
  const randomIndex = Math.floor(Math.random() * titles.length);
  return titles[randomIndex];
};

const title = getRandomTitle();
---

<section id="home" class="home-area hero-equal-height section-padding">
  <div class="container">
    <motion.div client:load
      initial={{ opacity: 0, transform: "translateY(20px)" }}
      whileInView={{ opacity: 1, transform: "translateY(0)" }}
      transition={{ duration: 0.8, ease: "easeInOut" }}
      viewport={{ once: true }}
    >
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 col-md-12">
        <div class="home-content z-index position-relative">
          <h3>Welcome to Mac Repair Man</h3>
          <h1 id="dynamic-h1">{title}</h1>
          <p>Trusted by Thousands of Satisfied Customers</p>
          <div class="home-button-box">
            <a href="tel:5195050058" class="button home-btn-2">Call Now: (519) 505-0058</a>
          </div>
        </div>
      </div>
    </div>
    </motion.div>
  </div>
</section>
