---
import "../styles/Nav.css"
---

<header class="header-navber-area">
    <div class="nav-top-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="call-to-action">
              <p><i class="icofont-envelope"></i> Email: <a href="mailto:info@macrepairman.ca">info@macrepairman.ca</a></p>
              <p><i class="icofont-phone"></i> Phone: <a href="tel:5195050058">24/7 Phone Support: (519) 505-0058</a></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="opening-hours">
              <p><i class="icofont-wall-clock"></i> Store Hours: 11:00am - 4:00pm</p>
              <p><i class="icofont-wall-clock"></i> Monday to Friday</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-b navbar-trans navbar-expand-lg" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll" href="/">
          <img src="/img/logo.png" class="white-logo" alt="logo" />
          <img src="/img/logo.png" class="black-logo" width="150" alt="logo" />               
        </a>
        <button class="navbar-toggler collapsed" type="button"
          data-toggle="collapse" data-target="#navbarDefault"
          aria-controls="navbarDefault" aria-expanded="false"
          aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end"
          id="navbarDefault">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="/#about">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="/services">Services</a></li>
            <li class="nav-item"><a class="nav-link js-scroll" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>