---
import "../styles/Services.css";
---

<section class="services-section-two bg-grey pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h5>Quick Repair Services</h5>
                    <h2>Devices We Fix:</h2>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-1.png" alt="iPhone Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>iPhone Repair</h3>
                        <p>Get expert iPhone repair services at Mac Repair Man. Our skilled technicians can quickly fix common issues, ensuring your iPhone functions flawlessly.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-2.png" alt="iMac Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>iMac Repairs</h3>
                        <p>Trust Mac Repair Man for efficient iMac repairs. Our technicians specialize in diagnosing and fixing iMac issues, ensuring optimal performance.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-3.png" alt="MacBook Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>MacBook Repairs</h3>
                        <p>Mac Repair Man specializes in MacBook repairs. From hardware issues to software glitches, our experts can restore your MacBook to peak performance.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-4.png" alt="iPad Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>iPad Repairs</h3>
                        <p>For prompt and reliable iPad repairs, visit Mac Repair Man. Our skilled technicians can fix various issues, ensuring your iPad functions smoothly.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-5.png" alt="Mac mini Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>Mac mini Repairs</h3>
                        <p>Mac Repair Man offers efficient Mac mini repair services. Our experts can diagnose and fix issues, ensuring your Mac mini runs smoothly.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services-two">
                    <div class="services-two-img">
                        <img src="/img/services/services-6.png" alt="Mac Pro Repairs">
                    </div>
                    <div class="services-two-info">
                        <h3>Mac Pro Repairs</h3>
                        <p>Experience top-notch Mac Pro repair services at Mac Repair Man. Our skilled technicians can address hardware and software issues efficiently.</p>
                        <div class="services-two-btn-box">
                            <a href="single-services.html" class="services-btn-link"><i class="fa fa-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
