<!-- Start Choose Section -->
<section id="choose" class="choose-area pt-100 section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="choose-content">
                    <div class="choose-content-info">
                        <h2>We Can Fix it All!</h2>
                        <p>We offer hassle-free quick repair services for all types of Macs! With extensive experience in repairing Macs as well as consistently positive customer experiences we guarantee easy and high-quality repair services. In addition to Mac repairs, we also buy damaged devices.</p>
                        <br />
                        <p>Repairs / Upgrades that we offer:</p>
                    </div>
                    <div class="choose-content-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li>Water/Liquid Damage</li>
                                    <li>Physical Damage</li>
                                    <li>Data Recovery</li>
                                    <li>Screen Damage</li>
                                    <li>WiFi/ Bluetooth</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li>Battery replacement</li>
                                    <li>Charging port</li>
                                    <li>Slow Peformance</li>
                                    <li>Damaged Case</li>
                                    <li>Upgrade Performance</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="choose-content-images">
                    <img src="/img/choose.jpg" alt="choose images">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose Section -->