<!-- Feature Section Start -->
<section id="mini-feature" class="mini-feature-area bg-gray pt-70 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-wrench"></i>
                    </div>
                    <div class="mini-feature-info">
                        <h6>Fast & Quick Repairs</h6>
                        <p>That’s right, with our repairs you can save money and time! Mac Repair Man understands how stressful Mac damages can be.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-laptop-medical"></i>
                    </div>
                    <div class="mini-feature-info">
                        <h6>We can Revive your Macs</h6>
                        <p>Did your Mac get damaged? Whatever the situation, Mac Repair Man can fix all your Mac devices, including MacBooks, MacBook Pros, iMacs, and Mac Minis!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-phone-volume"></i>
                    </div>
                    <div class="mini-feature-info">
                        <h6>Ontario’s Smartest Choice!</h6>
                        <p>Mac Repair Man has been trusted by customers across Ontario with high quality Mac repair services for over 10 years! We can assure the quality of our work, as can our happy cusomers!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-money"></i>
                    </div>
                    <div class="mini-feature-info">
                        <h6>Best Price Guaranteed</h6>
                        <p>With Mac Repair Man's 10 years of experience and customer satisfaction, we can ensure that you're getting quality services at a reasonable price!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->