<!-- Feature Section Start -->
<section id="mini-feature" class="mini-feature-area bg-gray pt-70 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-wrench"></i></div>
                    <div class="mini-feature-info">
                        <h6>Fast & Efficient Mac Repairs</h6>
                        <p>Save money and time with our fast and efficient Mac repair services. Mac Repair Man understands the stress of Mac damages and offers quick solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-laptop-medical"></i></div>
                    <div class="mini-feature-info">
                        <h6>Expert Mac Revival</h6>
                        <p>Is your Mac damaged? Whatever the situation, Mac Repair Man can revive all your Mac devices, including MacBooks, MacBook Pros, iMacs, and Mac Minis!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-phone-volume"></i></div>
                    <div class="mini-feature-info">
                        <h6>Trusted Mac Repair Services in Ontario</h6>
                        <p>Mac Repair Man has earned the trust of customers across Ontario with high-quality Mac repair services for over 10 years. Our satisfied customers can attest to the quality of our work!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-mini-feature">
                    <div class="mini-feature-icon"><i class="fa fa-money"></i></div>
                    <div class="mini-feature-info">
                        <h6>Best Price Guarantee</h6>
                        <p>With 10 years of experience and customer satisfaction, Mac Repair Man ensures that you'll receive top-quality services at a reasonable price!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->