<!-- Start Footer Section -->
<footer class="footer-area">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content">
                        <img src="/img/logo.png" alt="Brand">
                        <p>For a speedy, top quality, and affordable repair call Mac Repair Man</p>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content mid-content">
                        <h3>Usefull Link</h3>
                        <ul class="footer-link">
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <li><a href="terms.html">Terms & Condition</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-box-item">
                    <div class="footer-content">
                        <h3>Contact Us</h3>
                        <ul class="footer-link">
                            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:5195050058">(519) 505-0058</a></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@macrepairman.ca">info@macrepairman.ca</a></li>
                            <li><i class="fa fa-home" aria-hidden="true"></i>556 King St East, Kitchener ON, Canada</li>
                        </ul>
                        <div class="subscribe-form-wrap">
                            <form action="#" class="subscribe-form">
                                <input type="email" name="email" class="form-input" placeholder="Enter Email">
                                <button type="submit" class="submit-btn">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright text-center">
                        <p>Mac Repair Man © 2014 - 2023</p>
                        <p>Designed & Maintained by Mac Repair Man</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->