<!-- Start Landing Page -->
<section id="home" class="home-area hero-equal-height section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="home-content z-index position-relative">
                    <h3>Mac Repair Man</h3>
                    <h1>Get Your Mac Repaired Fast</h1>
                    <p>Trusted Mac & iPhone Repair Services</p>
                    <div class="home-button-box">
                        <a href="#services" class="button home-btn-1 js-scroll">Our Services</a>
                        <a href="#" class="button home-btn-2">Repair My Device</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Landing Page -->