<!-- Start Services Section -->
<section id="services" class="services-area section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Quick Repair Services</h2>
                    <h5>Devices We Fix:</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-1.png" alt="Service Images">
                    </div>
                    <h3>iPhone Repairs</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-2.png" alt="Service Images">
                    </div>
                    <h3>iMac Repairs</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-3.png" alt="Service Images">
                    </div>
                    <h3>MacBook Repairs</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-4.png" alt="Service Images">
                    </div>
                    <h3>iPad Repairs​</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-5.png" alt="Service Images">
                    </div>
                    <h3>Mac mini Repairs</h3>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="#contact" class="single-services-box">
                    <div class="services-img">
                        <img src="/img/services/services-6.png" alt="Service Images">
                    </div>
                    <h3>Mac Pro Repairs</h3>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->