<!-- Start Testimonials Section -->
<section id="review" class="testimonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <h5>Our Clients Say:</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slide">
                    <div class="owl-carousel owl-theme">
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="testimonial-content-inner">
                                <div class="testimonial-text">
                                    <p>This guy!!! Such a good human! Had an issue with my old imac, 
                                        and he went over and above to help me sort it out! 
                                        Genuinely appreciate his help, and most definitely recommend him to 
                                        anyone else I know needing help with a mac! If I could give him 10 stars, I would!</p>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <h6>Google Review</h6>
                                    </div>
                                </div>
                                <div class="author-info-box">
                                    <div class="author-img">
                                        <img src="/img/clients/testimonial-1.png" alt="testimonial">
                                    </div>
                                    <div class="author-bio-info">
                                        <h3>Jenn Grein</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="testimonial-content-inner">
                                <div class="testimonial-text">
                                    <p>Great service! I would recommend anyone who has issues with their apple devices to bring them here. 
                                        Not only are the prices fair, but the service is faster than apple. 
                                        Ahmed is knowledgeable with Apple products and also friendly.</p>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <h6>Google Review</h6>
                                    </div>
                                </div>
                                <div class="author-info-box">
                                    <div class="author-img">
                                        <img src="/img/clients/testimonial-2.png" alt="testimonial">
                                    </div>
                                    <div class="author-bio-info">
                                        <h3>Nicole Fulford</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="testimonial-content-inner">
                                <div class="testimonial-text">
                                    <p>Amazing service and incredibly kind and helpful. 
                                        I broke the screen on my Mac Air. 
                                        Went to apple initially and they were going to charge me $60 just to diagnose it. 
                                        The Mac Repair Man diagnosed it for free and walked me through my options from least expensive to most expensive. 
                                        I'm very happy with the results! And it was a bonus that he got it done in one day.</p>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <h6>Google Review</h6>
                                    </div>
                                </div>
                                <div class="author-info-box">
                                    <div class="author-img">
                                        <img src="/img/clients/testimonial-3.png" alt="testimonial">
                                    </div>
                                    <div class="author-bio-info">
                                        <h3>Breanne Hunter</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- testimonials item -->
                        <div class="single-testimonial">
                            <div class="testimonial-content-inner">
                                <div class="testimonial-text">
                                    <p>I came in with a dead screen on my MacBook Pro. 
                                        Apple gave me the option to fix it at $800, 
                                        however at Mac repair man I was informed that it was a recall item. 
                                        I had to fight Apple but they did repair it. I lost trust in Apple but gain trust in The Mac Repair Man. 
                                        Thank you Mac Repair Man.</p>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <h6>Google Review</h6>
                                    </div>
                                </div>
                                <div class="author-info-box">
                                    <div class="author-img">
                                        <img src="/img/clients/testimonial-4.png" alt="testimonial">
                                    </div>
                                    <div class="author-bio-info">
                                        <h3>Jeff Kuindersma</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Section -->